body {
    background-color: #6aa4dd; /* Change to your preferred color */
    border: 4px solid #333;    /* Solid frame, adjust color and width as needed */
    margin: 20px;              /* Space between frame and window edge */
    padding: 20px;             /* Space between content and frame */
    box-sizing: border-box;    /* Ensures border is included in width/height */
}

.centered-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.highlight-label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.1em;
  /* margin-top: 0.3em; */
}

.input-row {
  display: flex;
  align-items: center;
  gap: 1rem; /* vagy 2rem, ha nagyobb tér kell */
  margin-bottom: 1em;
}

 .welcome-page{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  color: #222;
 }

.mre-app {
  background: #f9f9f9;
  min-height: 100vh;
  color: #222;
}

article {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  color: #222;
}
.editor-field-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  color: #222;
}
.editorField.editor-field {
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  box-sizing: border-box;
  resize: both;
  font-size: 1rem;
  min-height: 0; /* biztosítja, hogy a textarea ne nyúljon túl a szülőn */
  color: #222;
}


