.footer {
  margin-top: 2rem;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  color: #333;
  border-top: 1px solid #b0c4de;
  border-radius: 4% 4%;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
  padding: 2rem;
  background: #e6e7e4f0; /* vagy háttérkép: background-image: url('...'); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}